﻿@model OnlineStore.Models.Entities.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<h2>Просмотр</h2>

<div>
    <h4>Товар</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AmountToDistribution)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AmountToDistribution)
        </dd>


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index">Вернуться к списку товаров</a>
</div>
