﻿@model OnlineStore.Models.Entities.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<h2>Редактирование</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Товар</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AmountToDistribution" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AmountToDistribution" class="form-control" />
                <span asp-validation-for="AmountToDistribution" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
