﻿@{
    var topMenu = (ViewData["TopMenu"]!=null ? (int)ViewData["TopMenu"]:0 );
}
<div id="top-bar" class="top-bar--style-1">
    <div class="container">
        <a id="top-bar__logo" class="site-logo" href="/">AGRICOM</a>

        <a id="top-bar__navigation-toggler" href="javascript:void(0);"><span></span></a>

        <nav id="top-bar__navigation" role="navigation">
            <ul>
                <li class="@(topMenu == (int)OnlineStore.Utils.Enum.TopMenuEnum.Home?"current":"")"  >
                    <a href="@Url.Action("Index","Home")">Главная</a>

                    <div class="submenu">
                        <ul>
                            <li class="current"><a href="/">Home Style 1</a></li>
                            <li><a href="/" target="_blank">Home Style 2</a></li>
                            <li><a href="/" target="_blank">One Page</a></li>
                        </ul>
                    </div>
                </li>
                <li  class="@(topMenu == (int)OnlineStore.Utils.Enum.TopMenuEnum.News?"current":"")" ><a href="@Url.Action("News","Home")">Новости</a></li>
                <li>
                    <a href="javascript:void(0);">О сливе</a>

                    <div class="submenu">
                        <ul>
                            <li><a href="about.html">about</a></li>
                            <li><a href="products.html">products</a></li>
                            <li><a href="product_case.html">product case</a></li>
                            <li><a href="404.html">404 page</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0);">О нас</a>

                    <div class="submenu">
                        <ul>
                            <li><a href="about.html">about</a></li>
                            <li><a href="products.html">products</a></li>
                            <li><a href="product_case.html">product case</a></li>
                            <li><a href="404.html">404 page</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0);">Еще товары</a>

                    <div class="submenu">
                        <ul>
                            <li><a href="gallery_1.html">2 Columns</a></li>
                            <li><a href="gallery_2.html">3 Columns</a></li>
                            <li><a href="gallery_3.html">4 Columns</a></li>
                            <li><a href="gallery_4.html">Masonry</a></li>
                            <li><a href="gallery_5.html">Masonry 2</a></li>
                        </ul>
                    </div>
                </li>
              
                <li><a href="contacts.html">Контакты</a></li>
                <li class="li-btn">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="custom-btn primary" href="/referral">Партнерка</a>
                    }
                    else
                    {
                        <a class="custom-btn primary" href="/a/register">Регистрация</a>
                    }

                </li>
            </ul>
        </nav>
    </div>
</div>