﻿@model IEnumerable<OnlineStore.Models.Test.TestBalance>
@{
    Layout = "_TestLayout";
}

<h3>Начисления</h3>

<table class="table table-bordered table-hover table-condensed table-striped">
    <tr>
        <th>Логин</th>
        <th>Сумма</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Amount</td>
            <td><a href="/test/history/@item.Name">История начислений</a></td>
        </tr>
    }
</table>