﻿@model OnlineStore.Models.Test.TestBuyingViewModel
@{
    Layout = "_TestLayout";
}

<h3>Имитация покупки</h3>

<form action="/test/Buying" method="post">
    <p>
        Сымитировать покупку от лица пользователя  <select asp-for="login" asp-items="@ViewBag.UserNames"></select>
    </p>
        Выбрать товар <select asp-for="productId" asp-items="@ViewBag.Products"></select>
    <p>

        <input type="submit" value="Оформить">
    </p>
</form>