﻿@{
    Layout = "_TestLayout";
}

<h3>Покупка успешно оформлено</h3>
Начисления получили следующие пользователи:
<ul>
    @foreach (var item in ViewBag.UserNames)
    {
        <li>@item</li>
    }
</ul>