﻿@model OnlineStore.Models.Test.TestRegister

@{
    ViewData["Title"] = "Редактирование прикреплений";
    Layout = "_TestLayout";
}

<h2>Редактирование прикреплений</h2>

<form action="/test/EditFollowers" method="post">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <p>
            Пользователя <select asp-for="follower" asp-items="@ViewBag.UserNames"></select>
            закрепить за <select asp-for="follows" asp-items="@ViewBag.UserNames"></select>
        </p>
        <input type="submit" value="Сохранить">
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
