﻿@{
    ViewData["Title"] = "Редактирование стандартного пользователя для подписки";
    Layout = "_TestLayout";
}

<h2>Редактирование прикреплений</h2>

<form action="/test/EditDefaultUserToFollow" method="post">
    <div class="form-horizontal">
        <p>
            Стандартный пользователь для подписки:  <select name="username" asp-items="@ViewBag.UserNames"></select>
        </p>
        <input type="submit" value="Сохранить">
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}