﻿@{
    Layout = "_TestLayout";
}
@model IEnumerable<OnlineStore.Models.Test.TestFollower>

<h3>Список пользователей</h3>
<ul>
    @foreach (var item in Model)
    {
        <li>@item.Name@(string.IsNullOrEmpty(item.ParentName) ? "" : ", закрплен за " + item.ParentName)</li>
    }
</ul>

    