﻿@model IEnumerable<OnlineStore.Models.Entities.Transaction>
@{
    Layout = "_TestLayout";
}

<h3>Начисления</h3>

<table class="table table-bordered table-hover table-condensed table-striped">
    <tr>
        <th>Системный номер</th>
        <th>Сумма</th>
        <th>Время</th>
        <th>Номер заказа</th>
        <th>Покупатель</th>
        <th>Товар</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Amount</td>
            <td>@item.Datetime</td>
            <td>@item.OrderId</td>
            <td>@item.Order.User.UserName</td>
            <td>@item.Order.OrderProducts.Select(op=>op.Product.Name).Aggregate((i, j) => i + "," + j)</td>
        </tr>
    }
</table>