﻿<script src="~/js/admin/accept-referral.js"></script>
@{
    Layout = "_TestLayout";
}

<h3>Запросы в реферальную сеть</h3>


<table border="1">
    <tr>
        <th width="20%">Пользователь</th>
        <th width="50%">Сообщение</th>
        <th width="15%">Дата запроса</th>
        <th width="15%"></th>
    </tr>
    @foreach (var candidate in ViewBag.Candidates)
    {
        <tr>
            <td class="username">@candidate.UserName</td>
            <td>@candidate.Comment</td>
            <td>@candidate.RequestedDate.Date</td>
            <td>
                <input type="submit" class="accept-referral-btn" value="Одобрить" />
            </td>
        </tr>
    }
</table>