﻿@{
    Layout = "_TestLayout";
}

<h2>Пользователи</h2>

<hr />
<h3>Зарегистрировать нового пользователя</h3>

<form action="/test/register" method="post">
    <p>Логин для нового пользователя: <input type="text" name="login"> <input type="submit" value="Зарегистрировать"></p>
</form>

