<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/admin/products-management.js"></script>

<table style="width: 100%; border: solid 1px black; margin-top: 10px">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Price to distribution</th>
            <th>Available</th>
            <th>Referral</th>
        </tr>
    </thead>
    <tbody id="productsTable"></tbody>
</table>


Id <br /> <input type="text" id="productId"/> <br />
Name <br /> <input type="text" id="name"/> <br />
Price <br /> <input type="text" id="price"/> <br />
Price to distribution <br /> <input type="text" id="amountToDistribution"/> <br />
Available <input type="checkbox" id="isAvailable"/> <br />
In referral network <input type="checkbox" id="isInReferralNetwork"/> <br />

<input id="postBtn" type="submit" value="POST" /> 
<input id="putBtn" type="submit" value="PUT" /> 
<input id="delBtn" type="submit" value="DELETE" /> 
