﻿@model List<OnlineStore.Models.Entities.Order>

@{
    ViewBag.Title = "Заказы";
}

<h2>@ViewBag.Title</h2>

<table border="1">
    
    @foreach (var order in Model)
    {
        <tr>
            <td width="20%">@order.Datetime.Date.ToString("d")</td>
            <td width="80%" align="right">@order.OrderProducts.Select(o => o.Product).Count() товара на сумму 
                @order.OrderProducts.Select(o => o.Product.Price).Sum()</td>
        </tr>
    }
</table>
