﻿@using OnlineStore.Models.Entities

@model ReferralNetworkCandidate
@{
    ViewBag.Title = "Реферальная сеть";
    Layout = "_EmtptyTempLayout";
}

@inject UserManager<ApplicationUser> UserManager

<h2>@ViewBag.Title</h2>

@if (ViewBag.IsApplicationHasAlreadyBeenSubmitted)
{
<h4>Ваша заявка на рассмотрении администратором.</h4>
}
else

if (string.IsNullOrEmpty(ViewBag.ReferralLink))
{
    <form asp-controller="Manage" asp-action="ReferralNetworkMembership" method="post" class="form-horizontal">
        <p>Отправьте запрос на участие в реферальной программе, чтобы получить возможность получать скидки за приглашенных пользователей</p>

        <div class="form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Comment" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Comment" class="form-control"/>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Отправить</button>
            </div>
        </div>
    </form>
}
else 
{
    <h4>Ваша реферальная ссылка: localhost:50257/r/@ViewBag.ReferralLink</h4>
}