﻿@model OnlineStore.Models.Entities.News
@{
    Layout = "_LayoutInternalPages";
    ViewData["Title"] = Model.Title;
    ViewData["TopMenu"] = (int)OnlineStore.Utils.Enum.TopMenuEnum.News;
}

		<!-- start section -->
<section class="section">
    <div class="container">
        <div class="blog single-content">
            <div class="row flex-items-md-center">
                <div class="col-md-10">
                    <p class="dropcaps">
                        @Html.Raw(Model.ShortText)
                    </p>
                    <p class="quote">
                       @Model.Title
                    </p>
                    @Html.Raw(Model.Text)
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->

@*<!-- start section -->
<section class="section section--with-border">
    <div class="container">
        <div class="blog__feedback">
            <div class="row flex-items-md-center">
                <div class="col-md-10">
                    <h4 class="h2">4 Comments</h4>

                    <ul class="comments-list">
                        <li>
                            <!-- start table -->
                            <table>
                                <tr class="comment__header">
                                    <td>
                                        <div class="hidden-xs-down">
                                            <img class="comment__author-avatar circled" class="img-fluid" src="../img/users_photos/1.png" width="110" height="110" alt="demo" />
                                        </div>
                                    </td>

                                    <td width="100%">
                                        <div class="hidden-sm-up col-MB-20">
                                            <img class="comment__author-avatar circled" class="img-fluid" src="../img/users_photos/1.png" width="110" height="110" alt="demo" />
                                        </div>

                                        <p class="comment__author"><strong>Allan Makswel</strong></p>

                                        <p class="comment__post-date">August 1, 2016 at 9:04 pm</p>
                                    </td>

                                    <td>
                                        <a class="comment__reply-btn  fontello-reply" href="#"></a>
                                    </td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2">
                                        <div class="comment__text">
                                            <p>
                                                Crunchy whopping market get. Guaranteed never effective tighter chunky advantage. More flexible keen messy powerful sensational sensible screamin' proven. Customer choosy calories deserve. Savor find quickly dazzling luscious high selfish neat style
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <!-- end table -->

                            <ul>
                                <li>
                                    <!-- start table -->
                                    <table>
                                        <tr class="comment__header">
                                            <td>
                                                <div class="hidden-xs-down">
                                                    <img class="comment__author-avatar circled" class="img-fluid" src="../img/users_photos/2.png" width="110" height="110" alt="demo" />
                                                </div>
                                            </td>

                                            <td width="100%">
                                                <div class="hidden-sm-up col-MB-20">
                                                    <img class="comment__author-avatar circled" class="img-fluid" src="../img/users_photos/2.png" width="110" height="110" alt="demo" />
                                                </div>

                                                <p class="comment__author"><strong>Sam Watson</strong></p>

                                                <p class="comment__post-date">August 1, 2016 at 9:04 pm</p>
                                            </td>

                                            <td>
                                                <a class="comment__reply-btn  fontello-reply" href="#"></a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td colspan="2">
                                                <div class="comment__text">
                                                    <p>
                                                        Compare mild gentle bigger care. Reduced made cool crystals parents pure guaranteed valuable. Sparkling whenever screamin'. Multi-purpose racy feel discover agree you tempt selfish.
                                                    </p>

                                                    <p>
                                                        Compare mild gentle bigger care. Reduced made cool crystals parents pure guaranteed valuable. Sparkling whenever screamin'. Multi-purpose racy feel discover agree you tempt selfish.
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- end table -->
                                </li>

                                <li>
                                    <!-- start table -->
                                    <table>
                                        <tr class="comment__header">
                                            <td>
                                                <div class="hidden-xs-down">
                                                    <img class="comment__author-avatar circled" class="img-fluid" src="../img/users_photos/3.png" width="110" height="110" alt="demo" />
                                                </div>
                                            </td>

                                            <td width="100%">
                                                <div class="hidden-sm-up col-MB-20">
                                                    <img class="comment__author-avatar circled" class="img-fluid" src="../img/users_photos/3.png" width="110" height="110" alt="demo" />
                                                </div>

                                                <p class="comment__author"><strong>Will Adams</strong></p>

                                                <p class="comment__post-date">August 1, 2016 at 9:04 pm</p>
                                            </td>

                                            <td>
                                                <a class="comment__reply-btn  fontello-reply" href="#"></a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td colspan="2">
                                                <div class="comment__text">
                                                    <p>
                                                        Polished confident advantage mega catch healthy healthy love asked cholesterol. Energy grand low-cost believe less brings premium think to burst more keeps.
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- end table -->

                                    <ul>
                                        <li>
                                            <!-- start table -->
                                            <table>
                                                <tr class="comment__header">
                                                    <td>
                                                        <div class="hidden-xs-down">
                                                            <img class="comment__author-avatar circled" class="img-fluid" src="../img/users_photos/3.png" width="110" height="110" alt="demo" />
                                                        </div>
                                                    </td>

                                                    <td width="100%">
                                                        <div class="hidden-sm-up col-MB-20">
                                                            <img class="comment__author-avatar circled" class="img-fluid" src="../img/users_photos/3.png" width="110" height="110" alt="demo" />
                                                        </div>

                                                        <p class="comment__author"><strong>Will Adams</strong></p>

                                                        <p class="comment__post-date">August 1, 2016 at 9:04 pm</p>
                                                    </td>

                                                    <td>
                                                        <a class="comment__reply-btn  fontello-reply" href="#"></a>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td></td>
                                                    <td colspan="2">
                                                        <div class="comment__text">
                                                            <p>
                                                                Polished confident advantage mega catch healthy healthy love asked cholesterol. Energy grand low-cost believe less brings premium think to burst more keeps.
                                                            </p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <!-- end table -->
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- start section -->
<section class="section section--with-border">
    <div class="container">
        <div class="">
            <div class="row flex-items-md-center">
                <div class="col-md-10">
                    <h4 class="h2">Send Message</h4>

                    <form action="#">
                        <div class="row">
                            <div class="col-md">
                                <label class="input-wrp">
                                    <input class="textfield" type="text" placeholder="You name" />
                                </label>
                            </div>

                            <div class="col-md">
                                <label class="input-wrp">
                                    <input class="textfield" type="text" placeholder="E-mail" />
                                </label>
                            </div>
                        </div>

                        <label class="input-wrp">
                            <textarea class="textfield" placeholder="Comment"></textarea>
                        </label>

                        <button class="custom-btn primary" type="submit" role="button">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->*@

