﻿@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.Routing
@model System.Collections.Generic.List<OnlineStore.Models.Entities.News>
@{
     Layout = "_LayoutInternalPages";
     ViewData["Title"] = "Новости";
    ViewData["TopMenu"] = (int)OnlineStore.Utils.Enum.TopMenuEnum.News;
}

<section class="section">
    <div class="container">
        <div class="blog blog--style-1">
            <div class="blog__inner">
                <div class="row  js-isotope" data-isotope-options='{ "itemSelector": ".js-isotope__item", "transitionDuration": "0.8s", "percentPosition": "true", "masonry": { "columnWidth": ".js-isotope__grid-sizer" }}'>
                    <div class="col-xs-12 col-md-6 col-lg-4  js-isotope__grid-sizer" style="min-height: 0;"></div>
                    
                    @foreach (var i in Model)
                    {
                          <!-- start item -->
                        <div class="col-xs-12 col-md-6 col-lg-4  js-isotope__item">
                            <a class="news-pre-link" href="@Url.Action("NewsView","Home", new{id= i.Id})">
                                <div class="blog__item  mx-auto">

                                    <div class="blog__entry">
                                        <div class="blog__post-date">
                                            <span>@(i.CreatedDate.ToString("dd"))</span>
                                            <span>@(i.CreatedDate.ToString("MMMM"))<br />@(i.CreatedDate.ToString("yyyy"))</span>
                                        </div>

                                        <h3 class="blog__entry__title">
                                            @Html.Raw(i.Title)
                                        </h3>

                                        <span class="blog__entry__meta">0 Комментариев</span>

                                        <p>
                                            @Html.Raw(i.ShortText)
                                        </p>
                                    </div>

                                </div>
                            </a>
                        </div>
                    <!-- end item -->
                    }
                  
                </div>
            </div>

            <div class="text-center">
                <a id="blog-more-btn" class="custom-btn big primary" href="javascript:void(0);">show more posts</a>
            </div>
        </div>
    </div>
</section>